body {
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
nav {
  border-bottom: 1px solid rgb(37, 37, 37) !important;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: black;
  border: 1px solid black;
  width: 100%;
  height: 10%;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
  list-style: none;
}

nav ul li {
  letter-spacing: 0.1em;
  margin-left: 100px;
  margin-right: 100px;
}

.first-sec {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-top: 5%;
  height: 100vh;
  width: 100%;
  background-color: black;
}

figure {
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

figcaption {
  font-size: larger;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

figcaption h2 {
  letter-spacing: 0.07em;
}

figcaption p {
  line-height: 25px;
  text-align: center;
  width: 50%;
}

img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
