nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav span {
  color: #3b3b3b;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 2rem;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  list-style: none;
}

nav ul li {
  color: #3b3b3b;
  font-weight: 400;
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 1.2rem;
}
