#sidebar {
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 3rem;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li {
  margin-top: 2rem;
}
