@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&family=Shizuru&display=swap');
.letter{
  animation-duration: 700ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
}
.letter:hover{
  color: orange;
  animation-name: rubberBand;
}

.name{ 
  font-family: 'Press Start 2P', monospace;
}

.myname{
  color:rgb(0, 112, 112);
  width: max-content;
  position: relative;
}

.myname::after,
.myname::before{
  content: '';
  top:0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
}

.myname::before{
  background: #56edd6;
  animation: typewriter 4s steps(14) 1s forwards;
}

.myname:after{
  width: 0.125em;
  background: black;
  animation: typewriter 4s steps(14) 1s forwards,
              blinking 750ms infinite;
}

@keyframes typewriter {
  to{
    left: 100%;
    background: #56edd6;
  }
}

@keyframes blinking {
  to{
    background-color: #56edd6;
  }
}

/* For Dark */

.myname_dark{
  color:#5c5c5c;
  width: max-content;
  position: relative;
}

.myname_dark::after,
.myname_dark::before{
  content: '';
  top:0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
}

.myname_dark::before{
  background: #252525;
  animation: typewriter_dark 4s steps(14) 1s forwards;
}

.myname_dark:after{
  width: 0.125em;
  background: white;
  animation: typewriter_dark 4s steps(14) 1s forwards,
              blinking_dark 750ms infinite;
}

.middle-carat{
  background-color: teal;
  opacity:0;
  width: 0.25em;;
  height:6em;
  transform: scale(1,0);
  animation: carat 500ms ease-in forwards;
  transform-origin: bottom;
}

.Prajwal{
  opacity:0;
  transform: translateX(100px);
  animation: Prajwal 1s linear 500ms forwards;
}

.Ramesh{
  opacity:0;
  transform: translateX(-100px);
  animation: Ramesh 1s linear 500ms forwards;
}

.main-bg{
  background-image: url(./resources/bg1.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-clip: text;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: black;
  /* background: linear-gradient(80deg,#110e1f,#1b1730); */
  position: fixed;
  top:0;
  left: 0;
  animation:anim1 1.25s infinite,anim2 10s forwards;
}

/* .content-bg{
  height:20%;
  width:100%;
  position: absolute;
  top:60%;
  left:50%;
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transform:translate(-50%,-50%);
} */

.text-bg{
  width: 100%;
  /* height: 100vh; */
  /* background-image: url(./resources/bg1.jpg);
  background-size: 100% 100%;
  background-position: center; */
  /* position: absolute; */
  /* font-family: 'Vujahday Script', cursive; */
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 125px;
  text-align: center;
  /* line-height: 5.5em; */
  /* top:55%;
  left:50%; */
  /* transform:translate(-50%,-50%) rotate(-5deg); */
  color: transparent;
  -webkit-background-clip: text;
  pointer-events: none;
  
}

.title-bg{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: monospace;
  font-size: 12px;
  color:rgb(92, 92, 92);
  letter-spacing: 5px;
  /* top:60%;
  left:50%; */
} 

.bar-bg{
  width:175px;
  height: 2px;
  background-color: #999999;
  position: relative;
  z-index: 9999;
}

.bar-bg::after{
  width: 0%;
  height: 100%;
  content: '';
  position:absolute;
  top:0;
  left:0;
  background-color: rgb(19, 19, 19);
  animation: barload 3s 1s linear forwards;
}

@keyframes barload {
  to{
    width: 100%;
  }
}

@keyframes anim1 {
  0%{background-image :url(./resources/bg1.jpg);}
  10%{background-image :url(./resources/bg2.jpg);}
  20%{background-image :url(./resources/bg3.jpg);}
  30%{background-image :url(./resources/bg4.jpg);}
  40%{background-image :url(./resources/bg5.jpg);}
  50%{background-image :url(./resources/bg6.jpg);}
  60%{background-image :url(./resources/bg7.jpg);}
  70%{background-image :url(./resources/bg8.jpg);}
  80%{background-image :url(./resources/bg9.jpg);}
  90%{background-image :url(./resources/bg5.jpg);}
  100%{background-image :url(./resources/bg10.jpg);}
}

@keyframes anim2 {
  from{color: #d2006b;}
  to{color:transparent}
}

@keyframes Prajwal {
  50%{
    opacity: 0.25;
    transform: translateX(-25px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Ramesh {
  50%{
    opacity: 0.25;
    transform: translateX(25px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes carat {
  to{
    transform: scale(1);
    opacity:1
  }
}

@keyframes typewriter_dark {
  to{
    left: 100%;
    background: #252525;
  }
}

@keyframes blinking_dark {
  to{
    background-color: #252525;
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.55, 1);
  }

  40% {
    transform: scale3d(0.55, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
} 

.leaflet-container{
  width:800px;
  height:720px;
}


@media screen and (max-width:600px) {
  .leaflet-container{
    width:374px;
    height:300px;
  }
  .middle-carat{
    width:0.1em;
    height:3em;
  }
  .text-bg{
    font-size: 50px;
    /* top:50%;
    line-height: 10em; */
  }
  .content-bg{
    top:50%;
  }
}