/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&family=Shizuru&display=swap');
.letter{
  animation-duration: 700ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: 'Sora', sans-serif;
  font-weight: lighter;
}
.letter:hover{
  color: orange;
  animation-name: rubberBand;
}

.name{ 
  font-family: 'Rubik Mono One', sans-serif;
  letter-spacing: 4px;
  font-weight: lighter;
}

.myname{
  color:#05386B;
  width: max-content;
  position: relative;
}

.myname::after,
.myname::before{
  content: '';
  top:0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
}

.myname::before{
  background: #5cdb95;
  animation: typewriter 4s steps(14) 1s forwards;
}

.myname:after{
  width: 0.125em;
  background: black;
  animation: typewriter 4s steps(14) 1s forwards,
              blinking 750ms infinite;
}

@keyframes typewriter {
  to{
    left: 100%;
    background: #5cdb95;
  }
}

@keyframes blinking {
  to{
    background-color: #5cdb95;
  }
}

.myname_dark{
  color:#5c5c5c;
  width: max-content;
  position: relative;
}

.myname_dark::after,
.myname_dark::before{
  content: '';
  top:0;
  left:0;
  bottom:0;
  right: 0;
  position: absolute;
}

.myname_dark::before{
  background: #0b0c10;
  animation: typewriter_dark 4s steps(14) 1s forwards;
}

.myname_dark:after{
  width: 0.125em;
  background: white;
  animation: typewriter_dark 4s steps(14) 1s forwards,
              blinking_dark 750ms infinite;
}

.middle-carat{
  background-color: teal;
  opacity:0;
  width: 0.25em;;
  height:6em;
  transform: scale(1,0);
  animation: carat 500ms ease-in forwards;
  transform-origin: bottom;
}

.Prajwal{
  opacity:0;
  transform: translateX(100px);
  animation: Prajwal 1s linear 500ms forwards;
}

.Ramesh{
  opacity:0;
  transform: translateX(-100px);
  animation: Ramesh 1s linear 500ms forwards;
}

.outer-main{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right,rgb(53, 53, 53),black);
  z-index:80;
}

.main-bg{
  background: linear-gradient(80deg,rgb(0, 199, 199),rgb(0, 109, 109));
  background-clip: text;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: black;
  
  position: fixed;
  top:0;
  left: 0;
  animation:anim1 1.5s infinite,anim2 10s forwards;
}
.text-bg{
  width: 100%;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 125px;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  pointer-events: none;
  font-weight:lighter;
  
}

.title-bg{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: monospace;
  font-size: 15px;
  color:rgb(172, 172, 172);
  letter-spacing: 5px;
} 

.bar-bg{
  width:190px;
  height: 3px;
  background-color: #838383 !important;
  position: relative;
  z-index: 9999;
}

.bar-bg::after{
  width: 0%;
  height: 100%;
  content: '';
  position:absolute;
  top:0;
  left:0;
  background-color: #ffffff;
  animation: barload 3s 1s linear forwards;
}

@keyframes react-move {
  to{
    width:45%;
  }
}

@keyframes barload {
  to{
    width: 100%;
  }
}

@keyframes anim1 {
  10%{opacity:0.25;background: linear-gradient(80deg,#ff8248,#be4a14,#301001);background-clip: text;}
  20%{opacity:0.5;background: linear-gradient(80deg,#ffd343,#cea213,#7e6101);background-clip: text;}
  30%{opacity:1;background: linear-gradient(80deg,#fdfa40,#cac711,#7e7c00);background-clip: text;}
  40%{opacity:0.5;background: linear-gradient(80deg,#65d818,#49a20d);background-clip: text;}
  50%{opacity:1;background: linear-gradient(80deg,#12c97c,#0e975e);background-clip: text;}
  60%{opacity:0.5;background: linear-gradient(80deg,#17a7e9,#1072a0);background-clip: text;}
  70%{opacity:1;background: linear-gradient(80deg,#511fd8,#3c1e8f);background-clip: text;}
  80%{opacity:0.5;background: linear-gradient(80deg,#8b16da,#4a0d74);background-clip: text;}
  90%{opacity:1;background: linear-gradient(80deg,#df3a42,#be2028);background-clip: text;}
  100%{opacity:1;background: linear-gradient(80deg,#e95a17,#be4a14);background-clip: text;}
}

@keyframes anim2 {
  from{color: #d2006b;}
  to{color:transparent}
}

@keyframes Prajwal {
  50%{
    opacity: 0.25;
    transform: translateX(-25px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Ramesh {
  50%{
    opacity: 0.25;
    transform: translateX(25px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes carat {
  to{
    transform: scale(1);
    opacity:1
  }
}

@keyframes typewriter_dark {
  to{
    left: 100%;
    background: #0b0c10;
  }
}

@keyframes blinking_dark {
  to{
    background-color: #0b0c10;
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.55, 1);
  }

  40% {
    transform: scale3d(0.55, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
} 

.leaflet-container{
  width:800px;
  height:720px;
}


@media screen and (max-width:601px) {
  .leaflet-container{
    width:100%;
    height:35vh;
  }
  .middle-carat{
    width:0.1em;
    height:3em;
  }
  .text-bg{
    font-size: 40px;
  }
  .title-bg{
    font-size: 10px;
  }
  .bar-bg{
    width:160px;
  }
  .content-bg{
    top:50%;
  }
}

@media screen and (max-width:1100px) and (min-width:601px){
  .leaflet-container{
    width:100%;
    height:35vh;
  }
  .text-bg{
    font-size: 75px;
  }
} */

/* New Styling */
