@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&family=Shizuru&display=swap');
.letter{
  animation-duration: 700ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
}
.letter:hover{
  color: orange;
  /* animation: rubberBand 5s infinite; */
  animation-name: rubberBand;
}


@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.55, 1);
  }

  40% {
    transform: scale3d(0.55, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
} 

.leaflet-container{
  width:800px;
  height:600px;
}

@media screen and (max-width:600px) {
  .leaflet-container{
    width:400px;
    height:300px;
  }
}